Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-loop-convert,
  modernize-use-auto,
  modernize-use-default,
  modernize-use-nullptr,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  performance-*,
  readability-*
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*
HeaderFilterRegex: '^(cpp/(generated|test))'
FormatStyle: none
